.header {
  display: flex;
  padding-top: 1%;
}

.name {
  display: flex;
  flex-grow: 1;

  color: var(--blue-pastel);
  font-family: Arial, Helvetica, sans-serif;
}
.name > p {
  margin-left: 1%;
  align-self: center;
  font-size: 13px;
}

.profil {
  background-image: url(../../assets/images/profile-image.png);
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 1%;
}

.onglets {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 80%;
}
.onglets > ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.link {
  list-style: none;
  text-decoration: none;
}
.link > a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(81, 90, 90);
  font-size: 13px;
}
