/*.gameComponent {
  text-align: center;
  display: grid;
  border: solid 2px var(--gold-pastel);
}
*/

.game-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.game-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-section {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  height: 700px;
  width: 700px;
  border: 1px solid black;
  border-radius: 15px;
}

.card {
  display: flex;
  border: 1px solid black;
  border-radius: 12px;
  width: 50px;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.stack {
  display: flex;
  border: 1px solid black;
  border-radius: 12px;
  padding-right: 5px;
  width: 50px;
  height: 80px;
  justify-content: flex-end;
  align-items: flex-end;
}

.stack-container {
}

.current-player-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

.game-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
