/*.gameComponent {
  text-align: center;
  display: grid;
  border: solid 2px var(--gold-pastel);
}
*/

.game-container {
  display: flex;
  flex-direction: column;
}

.game-header {
  display: flex;
  justify-content: space-between;
}

.game-section {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  height: 700px;
  width: 700px;
  border: 1px solid black;
  border-radius: 15px;
}

.card {
  display: flex;
  border: 1px solid black;
  border-radius: 12px;
  width: 50px;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.game-cards-container-1 {
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 350px;
}
.game-cards-container-2 {
  display: flex;
  flex-direction: row;
  transform: rotate(-90deg);
  right: 0;
}
.game-cards-container-3 {
  display: flex;
  flex-direction: row;
  transform: rotate(180deg);
  top: 0;
}
.game-cards-container-4 {
  display: flex;
  flex-direction: row;
  transform: rotate(90deg);
  left: 0;
}
.game-cards-container-5 {
  display: flex;
  flex-direction: row;
}

.hidden-card {
  display: none;
}
