
.homeComponent {
    text-align: center;
    display: flex;
    flex-direction: column;
}
.homeComponent > h1 {
    font-family:"Lobster", "Lacquer", "Trade Wind";
    font-size: 8em;
}
.homeComponent > a {
    margin:auto;
}

a.gameButton {
    width:40%;
    height:100%;
    padding:8%;
    /* font-family à garder ou pas */
    font-family:"Lobster", "Lacquer", "Trade Wind";
    text-decoration: none;
    color:var(--white);
    background-image: linear-gradient(to bottom right, var(--blue),
        var(--blue-dark), var(--blue));
    font-size: 4em;
    border-radius: 80px/40px;
    box-shadow: var(--blue-pastel) 8px 8px 5px;
    
    transition: 0.15s;
}
a.gameButton:hover {
    cursor: pointer;
    font-family:"Lobster", "Lacquer", "Trade Wind";
    color: var(--blue-dark);
    width:30%;
    height:30%;
    background-image: linear-gradient(70deg, 
        var(--blue-dark), var(--white), var(--blue-dark));
    font-size: 3em;
    box-shadow: var(--blue-dark) 8px 8px 5px;

    transition: 0.1s;
}